@use "../abstracts" as a;


body {
  font-family:"Play",serif;
  
}

html {
  font-size: 60%;
  @include a.media-max(large) {
    font-size: 50%;
  }
  @include a.media-max(small) {
    font-size: 52.5%;
  }
}