@use "../abstracts/" as a;

.buttons {
    display:flex;
    align-items: center;
    padding:0em;
    justify-content: space-between;
    @include a.media-max(small) {
        margin-top:3em;
        flex-basis:100%;

        }
}

.login {
    border:none;
    padding:0.65em 2em;
    border-radius: 2.5em;
    margin-left:0.65em;
    font-size:1.5em;
    max-width: fit-content;
    background-color: rgba(218, 223, 230, 0.3);
    cursor: pointer;
}

