@use "../abstracts/" as a;


input {
    font-size:1.75em;
    background-color: transparent;
    padding:0.65em;
    border-radius: 2.5em;
    width:100%;
    background-color: rgba(219, 231, 247, 0.3);
    border:none;
    @include a.media-max(very-small) {
            font-size:1.75em;
        }
}

#search {
    border-radius: 2.5em;
    margin-left:1em;
}

.searchForm {
    display: flex;
    flex-direction: row;
    margin-left:0.5em;
    justify-content: center;
}

.loginForm {
    width:60%;
    @include a.media-max(small){
        width:90%;
    }
}

#usernameLabel {
    margin-top: 2em;
}

label {
    font-size:2em;
}

#password {
    margin-bottom:1em;
}

.addForm {
    padding:2em;
}

.productInput {
    font-size:1em;
}