@use "../abstracts/" as a;

.nav-item {
    font-size:2em;
    padding:0 1.5em;
    @include a.media-max(small){
        padding:0.75em 0;
    }
}

.nav-item::after {
    content: "";
    background-color: var(--clr-primary-black);
    height: 0.2rem;
    display: block;
    transform: scale(0);
    transform-origin: left;
    transition: transform .25s;
}

li:hover::after {
    transform: scale(1);
    transform-origin: right
}


.footer-item {
    text-align: center;
    font-size:1.5em;
    padding:0.5em 0em;
}