.productName,.productCategory,.productPrice {
    margin-top:0.5em;
    font-size:2em;
}


.productImage {
    max-width:17.5em;
}

.productContainer {
    padding:1em;
    border:solid 0.5em rgb(255, 233, 203);
    border-radius: 2em;
}