@use "../abstracts/" as a;


.svg-container {
    max-width:100%;
    width:4em;
    text-align: center;
    height: fit-content;
}

.logo {
    width:5em;
    text-align: center;
    cursor: pointer;
}


.svg-container:hover {
    opacity: 0.5;
}

.hamburger-menu-icon {
    display:none;
   @include a.media-max(small){
        display:block;
        max-width: 100%;
        width:4em;
   }
}

.shopping-cart {
    cursor: pointer;
}