@use "../abstracts/" as a;

.navigation-list {
    list-style: none;
    display: flex;
    margin:0;

    @include a.media-max(small) {
        background-color: rgb(248, 243, 228);
        z-index: 2;
        position: absolute;
        flex-direction: column;
        height: 100%;
        top:0;
        left:0;
        padding:2em 0;
        width:0;
        align-items: center;
        justify-content: flex-start;
        transform-origin: left;
        opacity:0;
        transition: width 0.25s, opacity 0.25s;

    }
}

.nav-opened {
    width:50%;
    opacity: 1;
    
}


.footer-list {
    list-style-type: none;
    padding: 0em;
    margin:0;
}
